#parse("/include/header.vm")

	<link rel="stylesheet" href="${CSS}/jquery-ui/jquery.ui.all.css">
	##<link rel="stylesheet" href="${CSS}/jquery-ui/jquery-ui-1.8.23.css">
	<script src="${JS}/jquery-ui-1.8.23.min.js"></script>
	
	<style type="text/css">
	#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
	#sortable li span { position: absolute; margin-left: -1.3em; }
	</style>
	
	<script>
	$(function() {
		$( "#sortable" ).sortable();
		$( "#sortable" ).disableSelection();
	});
	</script>
	
	<script type="text/javascript">
		function insertForm(){
			location.href = "/menu/adMenuSaveForm";
		}
	</script>

	<div class="content">
		
		<h3>메뉴관리</h3>
		<hr>
		<button class="btn btn-primary" type="button" onclick="insertForm();">등록</button>

		<table class="table table-striped table-bordered">
		  <caption>메뉴정보</caption>
		  <thead>
		    <tr>
		      <th>메뉴명</th>
		      <th id="ccc">메뉴ID</th>
		      <th>부모메뉴ID</th>
		      <th style="width: 20px">DEPTH</th>
		      <th>URL</th>
		      <th>순서</th>
		      <th>노출여부</th>
		      <th>targetType</th>
		      <th>설명</th>
		    </tr>
		  </thead>
		  <tbody>
		  #foreach ($menu in $!{menus})
		    <tr>
		      <td>#if($menu.depth == 2) - #end$menu.menuName</td>
		      <td>#if($menu.depth == 2) - #end<a href="/menu/adMenuUpdateForm?id=$menu.id">$menu.menuId</a></td>
		      <td>$!menu.parentAdMenu.menuId</td>
		  	  <td>$menu.depth</td>
		      <td>$menu.url</td>
		      <td>$menu.displayOrder</td>
		      <td>$menu.displayFlag</td>
		      <td>$!menu.targetType.desc</td>
		      <td>$!menu.description</td>
		    </tr>
    		  #foreach ($menu in $!{menu.childs})
    		    <tr>
    		      <td>#if($menu.depth == 2) - #end$menu.menuName</td>
    		      <td>#if($menu.depth == 2) - #end<a href="/menu/adMenuUpdateForm?id=$menu.id">$menu.menuId</a></td>
    		      <td>$!menu.parentMenuId</td>
    		  	  <td>$menu.depth</td>
    		      <td>$menu.url</td>
    		      <td>$menu.displayOrder</td>
    		      <td>$menu.displayFlag</td>
    		      <td>$!menu.targetType.desc</td>
    		      <td>$!menu.description</td>
    		    </tr>
    		    #end
		    #end
		  </tbody>			
		</table>
			
	
	</div>

#parse("/include/footer.vm")