#parse("/include/const.vm")
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>메뉴관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<script src="${JS}/jquery.js"></script>
	<script src="${JS}/jquery.validate.js"></script>
	<script src="${JS}/additional-methods.js"></script>

    <!-- Le styles -->
    <link href="${CSS}/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="${CSS}/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="${ICON}/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="${ICON}/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="${ICON}/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="${ICON}/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="${ICON}/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
		  
          <a class="brand" href="/">HOME</a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Username
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </div>
		  
          <div class="nav-collapse">
            <ul class="nav">
			  #foreach($menu in $rootMenus)
				<li #if($menu.menuId == $ADMENU_ROOT_MENU_ID) class="active" #end><a href="$menu.url">$menu.menuName</a></li>
			  #end
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
      
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              #*<li class="nav-header">메뉴관리</li>*#
			  #foreach($menu in $ADMENU_ROOT_MENU_CHILDS)
				#if($menu.targetType.value == "D")
				  <li class="nav-header">$menu.menuName</li>
				#else
    			  <li #if($menu.menuId == $ADMENU_MENU_ID) class="active" #end /><a href="$menu.url">$menu.menuName</a></li>
				#end
			  #end
			  
			  #*
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
			  *#
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        <div class="span10">        