#parse("/include/header.vm")

<script type="text/javascript">

$().ready(function() {

	$("#signupForm").validate({
	
		rules: {
			name: "required",
			age: {required:true, number:true}
		}
		
	});
});

</script>
<script type="text/javascript">

/*
	function formChecker(form) {
	
		if(!form.inputMenuId.value){
			$("#inputMenuId").parent().parent().addClass("error");
		}
		
		return false;
	}
*/	

</script>

<style type="text/css">
input.error, textarea.error{
  border:1px dashed red;
}
label.error{
  margin-left:10px;
  color:red;
}
</style>


<form id="signupForm" class="form-horizontal" action="/memberCard/saveMemberCard" #*onsubmit="return formChecker(this);" *# >

	<input type="hidden" name="id" value="$!member.id" />
	
	<legend>회원카드신청폼</legend>
	<div class="control-group">
		<label class="control-label" for="parentMenuId">신청회원</label>
		<div class="controls">
			<select id="memberId" name="memberId">
			<option value="" >-</option>
			#foreach ($member in $members)
			<option value="$member.id">$member.name</option>
			#end
		</select>			
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="parentMenuId">발급카드</label>
		<div class="controls">
			<select id="cardId" name="cardId">
			<option value="" >-</option>
			#foreach ($card in $cards)
			<option value="$card.id" >$card.name</option>
			#end
		</select>			
		</div>
	</div>
	
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">저장</button>
		<button type="button" class="btn" onclick="javascript:history.back(-1)">취소</button>
	</div>
</form>

#parse("/include/footer.vm")